/* .product-card{
    margin:1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.product-card:hover{
    transform: scale(1.05);
    
    transition-timing-function: ease-in-out;
    transition: ease-in-out transform 0.5s;
}
.product-img{
    margin-top: 10px;
} */

/* Index page -cards */
.product-card{
    /* border: none !important; */
    
    margin: 1.5rem;
    /* margin-right: 1rem; */
    border-radius: 1rem !important
} 

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
} 

.card-body{
    padding:0.25 rem !important;
}

